* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url(../media/banner/banner3.png);
    /* width: 1600px; */
    height: 933px;
    background-size: cover;
    text-align: right;
    color: #FFF;
}

.head-title {
    font-size: 65px;
    padding: 216px 230px 0px 1045px;
}

.head-para {
    padding: 24px 230px 32px 1176px;
}

.head-button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    color: #005FAC;
    margin: 0px 230px 166px 1210px;
}
