* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url(../media/banner/banner3.png);
    /* width: 1600px; */
    height: 933px;
    background-size: cover;
    text-align: right;
    color: #FFF;
}

.head-title {
    font-size: 65px;
    padding: 216px 230px 0px 1045px;
}

.head-para {
    padding: 24px 230px 32px 1176px;
}

.head-button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    color: #005FAC;
    margin: 0px 230px 166px 1210px;
}

main .pic-section {
    display: flex;
}

.pic {
    margin: 140px 134px 0px 400px;
}

.pic-content {
    text-align: right;
}

.pic-head {
    width: 288px;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-top: 400px;
}

.pic-para {
    color: var(--Dark-02, #444343);
    width: 416px;
    margin: 24px 0px 16px 0px;
}

.pic-list {
    color: var(--Dark-02, #444343);
    margin-bottom: 200px;
}

.plan-head {
    margin-left: 880px;
    margin-top: 200px;
    width: 288px;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
}

.plan-icons {
    display: flex;
}

.plans ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-web {
    margin: 56px 244px 0 350px;
}

.icon-js {
    margin: 56px 250px 0px 35px;

}

.icon-smoke {
    margin: 56px 209px 0px 50px;
}

.icon-ecom {
    margin: 56px 289px 0px 50px;
}

.plan-list-head-web {
    color: var(--Dark-01, #151414);
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0px 16px 265px;
}

.plan-list-head-js {
    color: var(--Dark-01, #151414);
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0px 16px 8px;
}

.plan-list-head-smoke {
    color: var(--Dark-01, #151414);
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0px 16px 0px;
}

.plan-list-head-ecom {
    color: var(--Dark-01, #151414);
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0px 16px 20px;
}

.plan-list-para-web {
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;
    margin-left: 310px;
}
.plan-list-para-js {
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;
    margin-left: px;
}
.plan-list-para-smoke {
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;
}
.plan-list-para-ecom {
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;
    margin-left: 0px;
}
.bg-pic{
    background-image: url(../media/images/gradient1.png), url(../media/images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    border-radius: 5px;
    margin-left: 380px;
    margin-top: 135px;
}
.bg-head{
    width: 500px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin: 0px 616px 0px 64px;
    padding-top: 50px;
}
.bg-button{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    color: #005FAC;
    margin: 24px 916px 55px 64px;
}